/*! normalize.css adapted for WDD 231 */

html {
    line-height: 1.15;
    text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}